body {
    background-color: #24353f;
}
.container{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-control{
    background-color: #24353f;
}

input::placeholder {
    color: #b6b6b6 !important;
    opacity: 1 !important;
}

.form-control:focus {
    box-shadow: none;
    background-color: #24353f;

}

.form-label:focus{
    border-color: lightskyblue !important;
}

h1{
    color: #17a2b8;
    font-size: 35px;
    padding-left: 15px;
}

.form-control.is-invalid{
    box-shadow: none;
    border-color: red !important;
}
.form-control.is-valid{
    box-shadow: none;
    border-color: green !important;
}

.h1{
    color: #17a2b8;
    font-size: 50px;
    padding-left: 15px;
}

.navbar{
    background-color: #24353f !important;
}